:root {
  --ydUnit: 100%;
}
html,
body {
  height: var(--ydUnit);
}
#app,
.container {
  height: var(--ydUnit);
}
/*#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--fontColor);
  margin-top: 60px;
  & #nav {
    padding: 20px;
    & a {
      font-weight: bold;
      color: #2c3e50;
      text-decoration: none;
      padding: 12px;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
} */
